@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    --border-color: #c4c4c4;
    --green-color: #3e8a23;
    --red-color: #d2492f;
    --blue-color: #4688b0;
    --gold-color: #c09728;
    --para-color: #818181;
    --header-color: #000;
    --bg-color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    color: var(--para-color);
    background-color: var(--bg-color);
}
h1 {
    font-size: 24px;
    color: var(--header-color);
    text-transform: capitalize;
}
.far {
    color: var(--para-color);
    font-size: 17px;
    cursor: pointer;
}
i {
    padding: 0px;
    width: 15%;
}

/***************    HEADER SECTION      *********************/
header {
    width: 100%;
    height: 50px;
}

/**************     MAIN SECTION    ***********************/
main {
    margin: 0px 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/************   Login Intro Section     **********************/
main .loginIntroSection {
    text-align: center;
    width: 400px;
    margin: 0px 20px;
}
.loginIntroImg {
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}
.loginIntroImg img {
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 100%;
    animation: imageSlider 30s linear infinite both;
}
.loginIntroImg .firstImg {
    animation-delay: 0s;
}
.loginIntroImg .secondImg {
    left: 100%;
    animation-delay: 10s;
}
.loginIntroImg .thirdImg {
    left: 200%;
    animation-delay: 20s;
}
/**************     Login Slider    ****************/
.loginIntroSlider {
    width: 60%;
    margin: 10px auto;
    height: 7px;
    position: relative;
    border-radius: 10px;
    background-color: var(--border-color);
}
.loginIntroSlider .slider {
    height: 100%;
}
.slider img {
    height: 100%;
    width: 33%;
    position: absolute;
    top: 0px;
    border-radius: inherit;
    animation: moveSlide 30s linear infinite both;
}
.slider img:nth-child(1) {
    left: 0px;
    animation-delay: 0s;
}
.slider img:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    animation-delay: 10s;
}
.slider img:nth-child(3) {
    right: 0px;
    animation-delay: 20s;
}
/***********    Login form      **********************/
.loginFormSection {
    text-align: center;
    width: 400px;
    padding: 20px;
    margin: 0px 10px;
}

.loginFormSection button a {
    color: var(--bg-color);
    text-decoration: none;
}
.loginFormSection form {
    border-bottom: thin solid var(--border-color);
    margin-bottom: 10px;
    position: relative;
}
.loginFormSection form img {
    width: 180px;
    margin: 20px 0px;
}
.userRole select {
    color: var(--para-color);
    border: thin solid var(--border-color);
    padding: 7px 5px;
    margin: 10px;
    border-radius: 7px;
    width: 130px;
    font-family: 'Montserrat';
    font-size: 16px;
}

.userEmail,
.userPassword
{
    width: 300px;
    padding: 0px;
    border: thin solid var(--border-color);
    border-radius: 10px;
    box-sizing: inherit;
    margin: 15px auto;
    display: flex;
    align-items: center;
}
.userEmail input,
.userPassword input
{
    outline: none;
    color: var(--para-color);
    font-family: 'Montserrat';
    font-size: 14px;
    padding-left: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 40px;
}
form > input {
    margin: 30px 0px;
    width: 300px;
    height: 50px;
    font-family: 'Montserrat';
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--red-color);
    color: var(--bg-color);
    cursor: pointer;
}
form > a {
    margin: 10px 0px;
    text-decoration: none;
    color: var(--blue-color);
    display: block;
}
form > p {
    background-color: var(--bg-color);
    width: 150px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    position: absolute;
}
.loginFormSection .socialSignUp {
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}
.socialSignUp p {
    text-transform: capitalize;
}
.socialSignUp img {
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px var(--border-color);
    cursor: pointer;
}

/*****************     FOOTER SECTION      ***************/
footer {
    margin: 0px;
    text-align: center;
    padding: 10px 0px;
}
footer span {
    cursor: pointer;
    margin: 0px 5px;
    font-size: 14px;
    text-transform: capitalize;
}

/*******************    MEDIA QUERRY    **********************/
@media screen and (max-width: 760) {
    
}


/***************       ANIMATION KEYFRAMES      ********************/
@keyframes imageSlider {
    0% {
        left: 100%;
        opacity: 0;
    }
    10% {
        opacity: 1;
        left: 0%;
    }
    25% {
        opacity: 1;
        left: 0%;
    }
    40% {
        opacity: 0;
        left: -100%;
    }
    50% {
        opacity: 0;
        left: -100%;
    }
    70% { left: 0%; }
    100% {
        opacity: 0;
        left: 100%;
    }
}
@keyframes moveSlide {
    0% { opacity: 0; }
    10% { opacity: 1; }
    25% { opacity: 1; }
    40% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
